 {% extends "base.html.twig" %}
 {% block title %}Homepage{% endblock %}
 {% block body %}
    <div class="container">
        <div class="row flex">
        {% for i in 0..5%}
            
            <div class="col-8 my-2">
                <img src="https://via.placeholder.com/800x600"class="img-fluid" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <h2>Lorem, ipsum.</h2>
                <p>  <em>commentaires</em></p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, nulla voluptatem voluptas nostrum impedit libero fugiat tempora cumque beatae error, et dicta, officia minima! Quam eum velit, cum natus voluptates totam repellat, reiciendis ipsum mollitia ad minima distinctio tenetur odit?</p>
            </div>
        {% endfor %}
           
            <div class="col-4 my-2">
                <img src="https://via.placeholder.com/400x200"class="img-fluid" alt="">

            </div>
        </div>
    </div>
 {% endblock %}