{% extends 'base.html.twig' %}

{% block title %} A propos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="https://via.placeholder.com/600/400" class="img-fluid rounded my-4 " alt="la_mon_ou_mon_coeur">
            </div>
            <div class="col-6">
                <H1>la_mon_ou_mon_coeur</H1>
                <blockquote class= "blockquote  my-4">
                    <i class="fas fa-quote-right"></i><br><strong>Lorem ipsum dolor,<br> sit amet consectetur adipisicing elit. Possimus ab eum ut accusamus molestiae sint!</strong></blockquote>
                

                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa doloremque ipsam quaerat nobis illo inventore expedita sint amet delectus ratione! Consequatur ullam enim minus, pariatur nam, aliquam possimus, maxime sit dolorum placeat laudantium earum! Non praesentium vel pariatur ad iure? minus, pariatur nam, aliquam possimus, maxime sit dolorum placeat laudantium earum! Non praesentium vel pariatur ad iure? minus, pariatur nam, aliquam possimus, maxime sit dolorum placeat laudantium earum! Non praesentium vel pariatur ad iure?</P>
                <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum minima cumque voluptatibus placeat eaque quae fuga numquam libero veniam at? minus, pariatur nam, aliquam possimus, maxime sit dolorum placeat laudantium earum! Non praesentium vel pariatur ad iure? minus, pariatur nam, aliquam possimus, maxime sit dolorum placeat laudantium earum! Non praesentium vel pariatur ad iure?</P>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo explicabo iure amet quo quis pariatur. minus, pariatur nam, aliquam possimus, maxime sit dolorum placeat laudantium earum! Non praesentium vel pariatur ad iure? minus, pariatur nam, aliquam possimus, maxime sit dolorum placeat laudantium earum! Non praesentium vel pariatur ad iure?</P>

            </div>
        </div>    
    </div>

{% endblock %}