<footer class='mt-5 bg-light text-center'>
	<p>
		<div class="row align-items-center">
			<div class="col-md-4">
				<div class="my-2">
					<p><a href="{{path('notice_mentions_legales')}}">Mentions légales</a></p>
					<p><a href="{{path('notice_politique_de_confidentialite')}}"> Politiques de confidentialités</a></p>
					<p><a href="{{path('notice_cgu')}}">CGU</a></p>
				</div>
				
			</div>
			<div class="col-md-4">
				La_ou_mon_coeur...
			</div>
			<div class="col-md-4">
				<a href=""><i class="fab fa-facebook-square"></i></a>
				<a href=""><i class="fab fa-instagram-square"></i></a>
				<a href=""><i class="fab fa-pinterest-square"></i></a>
			</div>
		</div>
	</p>
</footer>
