<div class="card">
    <img src="{{ asset('images/portrait.jpg') }}" alt="image de potrait de_la ou mon coeur est " class="image-circle">
    <div class="card-body">
        <h5 class="card-title">Par Rafen Nomeny</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        
    </div>
</div>