<div class="alert">
    En poursuivant votre navigation, vous acceptez nos CGU, notre politique de confidentialité et d’utilisation des cookies permettant de vous proposer des services adaptés et des offres ciblées. 
    <div class="btn btn-danger">J'accepte</div>
</div>