{% extends 'base.html.twig' %}
{% block title %} Création d'une annonce{% endblock %}
   
{% form_theme form 'post/_collection.html.twig' %}

{% block body %}
{# champs de formulaire globale#}
    <div class="container my-4">
        {{form_start(form)}}

        {{form_widget(form)}}
        
        <button type="submit" class="btn btn-primary">Créer une nouvelle articles</button>
        {{form_end(form)}}
    </div>   
{% endblock %}


{# Gérer en javascript les champs pour ajouter ou supprimer les images #}

{% block javascripts %}
{#{{ parent() }}#}
    <script>
        $('#add-image').click(function(){
            //on récupère le numéro des futurs champs que je vais créer
           // const index = $('#post_images div.form-group').length;
           const index = +$('widgets-counter').val();

            //on récupère le prototype des entrées 
            const tmpl = $('#post_images').data('prototype').replace(/__name__/g, index);

            //on injecte ce code au sein de la div
            $('#post_images').append(tmpl);

            $('widgets-counter').val(index + 1);

            // le bouton por supprimer le champs on appelant la fonction 
            handleDeleteButtons();

        });
        function handleDeleteButtons (){
            $('button[data-action="delete"]').click(function(){
                //dataset = tous les attribits qui ont data
                //target = pour acceder au donnée data-target =>"#block_{id}"
                const target = this .dataset.target;
                
                $(target).remove();
            });
        }
        function updateCounter(){
            const count = +$('#post_images div.form-group').length;

            $('widgets-counter').val(count);
        }
            updateCounter();
            handleDeleteButtons();
    </script>
    
{% endblock %}