{% extends 'base.html.twig' %}

{% block title %}Les articles de blogs {% endblock %}

{% block body %}

<div class="container">
    <div class="row ">
        <div class="col-md-8 my-4">
            {% for post in posts %}
                <div class="col-12 my-1"> 
                {% if post.coverImage %}
                    <img src="{{ vich_uploader_asset(post.coverImage, 'imageFile') }}" alt="{{post.title}}" height="377" width="1200" class="rounded mx-auto d-block img-thumbnail">
                {% endif %}
            {# Affichage des block de titre #}        
                {% include "post/_titlePost.html.twig" %}  
                </div>
            {% endfor %}
        </div>    
        
         {# Affichage du block à propos  #}
        <div class="col-md-4 my-4 ">
            {% include 'post/_asidePost.html.twig'%}
        </div> 
    </div>
</div>
{% endblock %}
